@use "../helpers/varaibles" as *;
@use "../helpers/placeholders" as *;
@use "../helpers/mixins" as *;

.header-section {
  margin-bottom: 2rem;
}
.header-wrapper {
  @extend %flexBetween;
  padding: 2rem 0;
  font-size: 1.4rem;
  gap: 1rem;
  border-bottom: 2px solid $textColor;
  @include media($largeScreen) {
    flex-direction: column;
  }
  @include media($smallScreen) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  @include media($extraSmall) {
    flex-direction: column;
  }
}
.head__logo {
  flex-basis: 30%;
  h1 {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    text-transform: uppercase;
  }
  p {
    color: $textColor;
  }
  @include media($largeScreen) {
    flex-basis: unset;
    text-align: center;
  }
  @include media($extraSmall) {
    font-size: 1rem;
    h1 {
      word-break: break-word;
    }
  }
}
.head__nav {
  flex-basis: 70%;
  background-color: $mainColor;
  border-radius: 1.5rem;
  font-size: 1.8rem;
  @extend %flexAround;
  a {
    text-decoration: none;
    display: block;
    padding: 1.11em 0.55em;
    color: $whiteColor;
    transition: all 0.2s linear;
    text-transform: uppercase;
    &:hover {
      color: $bulletColor;
    }
  }
  @include media($largeScreen) {
    flex-basis: unset;
  }
  @include media($smallScreen) {
    display: none;
    margin-top: -1rem;
    flex-direction: column;
    text-align: center;
    width: 100%;
    animation: moveToBottom 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
    li {
      margin: 0.5em 0;
      a {
        padding: 0.8em;
      }
    }
  }
}
.show {
  display: flex;
}
@include keyFrame(moveToBottom) {
  0% {
    visibility: visible;
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
