@use "../helpers/varaibles" as *;
@use "../helpers/placeholders" as *;
@use "../helpers/mixins" as *;

.header-section {
  margin-bottom: 2rem;
}
.header-wrapper {
  display: flex;
  @include lang_direction($langDir);
  padding: 2rem 0;
  font-size: 1.4rem;
  gap: 1rem;
  border-bottom: 2px solid $textColor;
  @include media($largeScreen) {
    flex-direction: column;
  }
  @include media($smallScreen) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  @include media($extraSmall) {
    flex-direction: column;
  }
}
.head__logo {
  flex-basis: 30%;
  h1 {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    text-transform: uppercase;
  }
  p {
    color: $textColor;
  }
  @include media($largeScreen) {
    flex-basis: unset;
    text-align: center;
  }
  @include media($extraSmall) {
    font-size: 1rem;
  }
}
.head__nav {
  flex-basis: 70%;
  background-color: $mainColor;
  border-radius: 1.5rem;
  font-size: 1.8rem;
  @extend %flexAround;
  @include lang_direction($langDir);
  a {
    text-decoration: none;
    display: block;
    padding: 1.11em 0.55em;
    color: $whiteColor;
    transition: all 0.2s linear;
    text-transform: uppercase;
    &:hover {
      color: $bulletColor;
    }
  }
  @include media($largeScreen) {
    flex-basis: unset;
  }
  @include media($smallScreen) {
    display: none;
    position: absolute;
    flex-direction: column;
    top: calc(100% - 3.5rem);
    right: 0.2rem;
    margin-top: -0.4rem;
    li {
      margin: 0.5em 0;
      a {
        padding: 0.8em;
      }
    }
  }
  @include media($extraSmall) {
    top: calc(100% - 2rem);
    right: 50%;
    transform: translateX(50%);
  }
}
