// Colors
$mainColor: #e2494c;
$textColor: #9c9c9c;
$textHeaderColor: #444343;
$whiteColor: #fff;
$bulletColor: #d9d9d9;
$mainBackground: #f6f6f6;
$blackColor: #333;

// Screens
$extraSmall: "(max-width: 575px)";
$smallScreen: "(min-width: 576px) and (max-width: 767px)";
$mediumScreen: "(min-width: 768px) and (max-width: 991px)";
$largeScreen: "(min-width: 992px) and (max-width: 1199px)";
$extraLarge: "(min-width: 1200px) and (max-width: 1399px)";
$extraExtraLarge: "(min-width: 1400px)";

// language
$langDir: ltr;
