@use "../helpers/varaibles" as *;
// Start slider styles
.slider {
  text-align: center;
  blockquote {
    font: {
      size: 2rem;
      style: italic;
      family: Tahoma, Arial, sans-serif;
    }
    line-height: 1.7;
    width: 80%;
    color: $textHeaderColor;
    margin: 1rem auto;
  }
}
.slider__img {
  max-width: 100%;
}
.slider__bullets {
  padding-top: 1rem;
  li {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: $bulletColor;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid $bulletColor;
    transition: all 0.2s linear;
    &.active,
    &:hover {
      border: 3px solid $blackColor;
      background-color: $whiteColor;
    }
  }
}
