@use "../helpers/placeholders" as *;
@use "../helpers/varaibles" as *;

// Services section style
.services {
  @extend %boxesSection;

  .service__box {
    @extend %itemBox;
    h3 {
      i {
        @extend %titleID;
        position: relative;
        top: 0.2em;
      }
    }
  }
}

// Our players section style
.our-players {
  @extend %boxesSection;
  .our-players__box {
    @extend %itemBox;
    img {
      margin-bottom: 1rem;
    }
    h3 {
      font-weight: normal;
      span {
        @extend %titleID;
        font-weight: bold;
        color: $textColor;
      }
    }
  }
}

// Lorem ipsum section style
.lorem-ipsum {
  @extend %boxesSection;
  .lorem-ipsum__box {
    img {
      max-width: 100%;
    }
  }
}
